.img{
    width:150px;
    height:150px;
    object-fit: cover;
}
#input[type="file"]{
    display:none;
}
.image-upload{
 width:200px;
 height: 35px;
 background-color:  #06de90;
 color: white;
 border-radius: 10px;
 text-align: center;
 cursor: pointer;
}