@import './../../Assets/Styles/variables';
.HeroSectionTopPart1{
    padding-top: 15px;
    margin-top:5% ;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    color:rgb(2,0,36);
    background: #f8f8ff;
}
.ApprenantHeroImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}