

//Colors

$PrimaryColor : #453D80;
$SecondaryColor : #FF7468;
$TertiaryColor : #06DE90;
$QuaternaryColor : #F5B70A;

//Shades

$PrimaryColorLight : #5b77db;
$PrimaryColorDark : #121024;
$SecondaryColorDark : #f34232;