@import './../../Assets/Styles/variables';
.NavBar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, $PrimaryColor 50%, $SecondaryColor 100%);
}

.DrawerBox{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, $PrimaryColor 50%, $SecondaryColor 100%);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex : 1 1 0px;

    .DrawerList{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex : 1 1 0px;

    }
}

