.VideoSpaceContainer{
    
    padding: 0.8rem;
}
.VideoSpaceContainer .video{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor:pointer;
    margin-bottom: 12px;
}
.VideoSpaceContainer .video:hover{
    transform:scale(0.98);
} 
.video-container{
   border-radius: 10px;
   overflow: hidden;
}
